.container{
    height: 100%;
    width: 100%;
    max-width: 100%;
}
.row{
    max-width: 100%;
    height: 100%;
    margin: 0;
}
.col{
    height: 100%;
}
.row .col.s6:nth-child(1){
    padding: 0;
}
#img{
    height: 100%;
    min-width: 100%;
    opacity: 0.5;
}
#form-side{
    width: 75%;
    height: 50%;
}

